@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    background-color: #80808063;
}

a {
    text-decoration: none;
    color: #ffb1e6;
}

header,
footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    box-sizing: border-box;
}

.styleLink {
    color: #AE9026;
}

.logoSite {
    max-width: 22.2rem;
}

.logoSite img {
    width: 100%;
}

.ulWrraper ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.ulWrraper ul li {
    white-space: nowrap;
    padding: 0px 20px;
}

.ulWrraper ul li a {
    font-size: 2.8rem;
}

.header-panel {
    display: none;
    padding: 10px 20px;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 10px;
}

.panel-button {
    background-color: #A98400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2rem;
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #A98400;
    margin-left: -9.7rem;
    margin-top: 2rem;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown-list li {
    padding: 1rem 2rem;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    z-index: 3;
}

.dropdown-list li a {
    color: #FF8A00;
    font-size: 1.4rem;
}

.show {
    display: block;
}


@media (max-width: 1230px) {
    .ulWrraper ul li a {
        font-size: 2.2rem;
    }
}

@media (max-width: 992px) {
    .header-panel {
        display: block;
    }

    .ulWrraper {
        display: none;
    }

    header {
        justify-content: space-between;
    }
}

@media (max-width: 630px) {
    .logoSite {
        max-width: 17rem;
    }
}

@media (max-width: 460px) {
    header {
        flex-direction: column;
    }

    .panel-button {
        padding: 1rem 6.9rem;
    }

    .dropdown-list {
        margin-left: -1.2rem;
    }
}

section {
    background-image: url('../img/bg2.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}

.mainPadding1,
.mainPadding2,
.mainPadding3,
.mainPadding4 {
    padding: 5rem;
}

.forUs h2,
.aboutProduct h2,
.properties h2,
.order_block h2 {
    font-size: 3.6rem;
    color: #AE9026;
    text-align: center;
    padding-top: 6rem;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.imgMain,
.imgAboutProduct,
.usefulPropertiesImg {
    max-width: 65rem;
}

.imgMain img,
.imgAboutProduct img,
.usefulProperties img {
    width: 100%;
}

.wrraperMainIndo,
.wrraperUsefulProperties {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6.3rem;
}

.forUsText {
    margin: 0 auto;
}

.textDescription {
    margin-top: 130px;
}

.forUsText p,
.textDescription p,
.textDescription ol li,
.aboutProductText p,
.usefulPropertiesText p,
.mainTextOrder {
    color: white;
    font-size: 3.2rem;
    line-height: 4rem;
}

.forUsText p,
.aboutProductText p,
.usefulPropertiesText p,
.mainTextOrder {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 1260px) {

    .wrraperMainIndo,
    .wrraperUsefulProperties {
        display: block;
    }

    .imgMain,
    .imgAboutProduct,
    .usefulPropertiesImg {
        margin: 0 auto;
    }
}

@media (max-width: 1230px) {

    .forUs h2,
    .aboutProduct h2,
    .properties h2,
    .order_block h2 {
        font-size: 3rem;
    }

    .forUsText p,
    .textDescription p,
    .textDescription ol li,
    .aboutProductText p,
    .usefulPropertiesText p,
    .mainTextOrder {
        font-size: 2.6rem;
    }

    .mainPadding1,
    .mainPadding2,
    .mainPadding3,
    .mainPadding4 {
        padding: 2rem;
    }
}

@media (max-width: 600px) {

    .forUs h2,
    .aboutProduct h2,
    .properties h2,
    .order_block h2 {
        font-size: 2.2rem;
    }

    .forUsText p,
    .textDescription p,
    .textDescription ol li,
    .aboutProductText p,
    .usefulPropertiesText p {
        font-size: 1.5rem;
        line-height: 2.4rem;
        text-align: left;
    }

    .mainTextOrder {
        font-size: 1.5rem;
        line-height: 2;
    }

    .imgMain,
    .forUsText,
    .usefulPropertiesImg {
        max-width: 50rem;
    }

    .textDescription {
        margin-top: 50px;
    }
}

.aboutOurProduct {
    background-image: url('../img/bg3.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20.7rem;
}

.wrraperAboutProduct {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1260px) {
    .wrraperAboutProduct {
        display: block;
    }
}

.orderForm {
    max-width: 90rem;
    padding: 2.5rem;
    background-color: white;
    margin: 0 auto;
    border-radius: 4rem;
}

.mainForm {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 4rem;
}

.imgForm {
    max-width: 12rem;
}

.imgForm img {
    width: 100%;
    margin: 10px 0px 0px 10px;
}

.inputForm {
    padding: 0px 15px;
}

.inputForm,
.inputbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

label[for="name"] {
    margin-top: 4.7rem;
}

label[for="name"],
label[for="phone"] {
    font-size: 3.6rem;
    color: black;
    padding: 10px 30px;
    box-sizing: border-box;
    text-align: center;
}

.inputbox,
button[name="submitBtn"] {
    max-width: 46.7rem;
    width: 100%;
    margin: 0 auto;
}

.inputbox input {
    font-size: 3rem;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    outline: none;
    border-radius: 1rem;
    border: none;
    margin-bottom: 20px;
}

button[name="submitBtn"] {
    font-size: 3.6rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: #AE9026;
    height: 10rem;
    margin-top: 6.2rem;
    cursor: pointer;
    transition: 500ms all;
}

button[name="submitBtn"]:hover {
    transform: scale(1.2);
    color: black;
    background: rgba(255, 255, 255, 0);
    border: 3px solid #AE9026;
}

.textInputForm {
    padding: 10px;
    box-sizing: border-box;
}

.textInputForm p {
    font-size: 1.3rem;
    text-align: center;
}

@media (max-width: 1230px) {

    label[for="name"],
    label[for="phone"],
    button[name="submitBtn"] {
        font-size: 2.7rem;
    }

    .inputbox input {
        font-size: 2.2rem;
        padding: 20px;
    }

    .inputbox,
    button[name="submitBtn"] {
        max-width: 35rem;
    }

    button[name="submitBtn"] {
        margin-top: 20px;
        height: 7rem;
    }

    .textInputForm p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

    label[for="name"],
    label[for="phone"],
    button[name="submitBtn"] {
        font-size: 2.2rem;
    }

    .inputbox input {
        font-size: 1.5rem;
        padding: 15px;
    }

    .inputbox,
    button[name="submitBtn"] {
        max-width: 25rem;
    }

    button[name="submitBtn"] {
        margin-top: 30px;
        height: 5rem;
    }
}

.privacyPolicy,
.date {
    font-size: 2.8rem;
    color: #AE9026;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.privacyPolicy p {
    cursor: pointer;
}

@media (max-width: 1230px) {
    .privacyPolicy,
    .date {
        font-size: 2.2rem;
    }
}

@media (max-width: 880px) {
    footer{
        flex-direction: column-reverse;
    }
}

#myPolicy{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(217, 217, 217, 0.71);
    padding: 40px 20px;
    box-sizing: border-box;
    border: none;
    opacity: 0;
    transition: 500ms all;
}

.mainBlockPolicy{
    position: relative;
    max-width: 120rem;
    width: 100%;
    height: 60rem;
    background: white;
    overflow-x: hidden;
    text-align: left;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 2rem 12.5rem;
    box-sizing: border-box;
}

.closePolicy{
    position: absolute;
    max-width: 5rem;
    right: 0;
    right: 10px;
    cursor: pointer;
}

.closePolicy img{
    width: 100%;
}

.mainBlockPolicy h2{
    text-align: center;
    margin-bottom: 5.8rem;
    font-size: 4.8rem;
}

.mainBlockPolicy p{
    font-size: 3.2rem;
}

@media (max-width: 1230px) {
    .mainBlockPolicy h2{
        font-size: 3.7rem;
    }
    
    .mainBlockPolicy p{
        font-size: 2.4rem;
    }
}

@media (max-width: 992px) {
    .mainBlockPolicy{
        padding: 2rem 8rem;
    }
}

@media (max-width: 600px) {
    .mainBlockPolicy h2{
        font-size: 2.7rem;
    }
    
    .mainBlockPolicy p{
        font-size: 1.5rem;
    }

    .mainBlockPolicy{
        padding: 1.5rem 6rem;
    }

    .mainBlockPolicy{
        height: 50rem;
    }

    .closePolicy{
        max-width: 2rem;
        right: 20px;
    }
}

@media (max-width: 420px) {
    .mainBlockPolicy h2{
        font-size: 2.2rem;
    }

    .mainBlockPolicy{
        padding: 1.5rem 3rem;
    }
}